.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: sandybrown;
    line-height: 3.5rem;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    align-items: stretch;
}
.logo{
    max-height:3.5rem;
}
.sidbar-header{
    flex: 0 0 14rem;
}
.body-header{
    width: calc(100% - 14rem);
    background-color: #ffffff
}
.search-area{
    background-color: #dcdcdc;
    padding: .3rem .6rem;
    border-radius: 5rem;
}
.search-input{
    background-color:rgba(0, 0, 0,0);
    border: none;
    outline: none;
    margin: 0 .6rem;
}
.header-notification{
    position: absolute;
    left: 0;
    margin-top: 1rem;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 1px 20px rgba(70, 90, 100, 0.08);
    width:16rem;
    display: none;
}
.notification-img{
    width:3rem;
    border-radius:0.1rem;
}
.notification-user{
    font-size:0.8rem;
    font-weight:bold;
}
.notification-text{
    font-size:0.8rem;
    line-height:0.6rem;
}
.notification-time{
    font-size:0.6rem;
    line-height:0.6rem;
}
.comment-notification{
    position: absolute;
    height: 60vh;
    margin-top: 1rem;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 1px 20px rgba(70, 90, 100, 0.08);
    width:18rem;
    display: none;
}
.header-comment-wrapper{
    height: 100%;
    overflow: auto;
}
.comment-user{
    font-size:0.75rem;
    font-weight:bold;
    margin-top: .8rem;
}
.user-comment-status{
    font-size:0.4rem;
}
.header-avatar{
    width: 2rem;
    height: 2rem;
    border-radius:0.3rem;
    margin: 0.2rem;
}
.header-username{
    font-size:0.8rem;
    color: #333333;
}
.header-profile{
    position: absolute;
    margin-top:0.3rem;
    left:0;
    height: auto;
    z-index: 1000;
    width:13rem;
    background-color:#fff;
    color: #000000;
    box-shadow: 0 1px 20px rgba(70, 90, 100, 0.08);
    display: none;
}
.header-profile-link{
    padding:0.4rem;
    font-size:0.8rem;
    line-height:0.4rem;
}
.header-profile-link > i{
    width:2rem;
    text-align: center;
}
@media only screen and (max-width:767.98px){
    .header{
        display: block;
    }
    .sidbar-header{
        width: 100%;
    }
    .body-header{
        width: 100%;
        display: none;
    }
}
.body-container{
    margin-top: 3.5rem;
    display: flex;
}
aside{
    color: #dcdc;
    flex: 0 0 14rem;
    height: 100vh;
}
.aside-container{
    padding: 2rem;
    /* line-height:3rem; */
}
.aside-dropdown-body a{
    display: block;
    line-height: 2rem;
    padding:0 1rem;
    text-decoration: none;
    outline: none;
    border: 0;
    color: #dcdcdc;
    transition:all 0.3s;
}
.aside-dropdown-body a::before{
    content: '>>';
    margin: 0.8rem;
}
.aside-dropdown-body a:hover{
    color:#fe8a7d;
}
.aside-dropdown-body a{
    text-decoration: none;
}
.sidbar-heading{
    font-size:0.9rem;
    color:#999999;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.sidbar-link{
    font-size:0.8rem;
    color:#dcdcdc;
    border: none;
    outline: none;
    display: block;
    margin-top: 1rem;
    padding: .4rem 1rem;
    transition: all 0.3s;
}
.sidbar-link:hover{
    text-decoration:none;
    color:#fe8a7d;
}
.sidbar-link > i{
    width: 1rem;
    text-align:center;
}
.aside-dropdown{
    font-size:.8rem;
    padding:0.4rem 0;
    margin-top: 1rem;
    color:#dcdcdc;
}
.aside-dropdown-activ{
    border-right: 1px solid #fe8a7d;
}
.aside-dropdown-body{
    display: none;
}
.aside-dropdown-activ>.aside-dropdown-body{
    height:auto;
    display: block;
}
.aside-dropdown-header{
    cursor: pointer;
    padding:0.2rem 1rem;
    transition:all 0.3s;

}
.aside-dropdown-header:hover{
    color:#f7f7f7;
}
.aside-dropdown-header .icon{
    width: 1rem;
    text-align: center;
}
.aside-dropdown-header .angle{
    float: left;
}